<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<!--
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
-->


<link rel="stylesheet" href="/libs/assets/animate.css/animate.css" type="text/css" />
<link rel="stylesheet" href="/libs/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/libs/assets/simple-line-icons/css/simple-line-icons.css" type="text/css" />
<link rel="stylesheet" href="/libs/jquery/bootstrap/dist/css/bootstrap.css" type="text/css" />.

<link rel="stylesheet" type="text/css" href="stylesheets/app.css">
<link rel="stylesheet" type="text/css" href="stylesheets/font.css">


<style>
    body    { padding-top:50px; }
</style>
