<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <% include ./partials/head %>
  </head>
<body>

<main>
  <div class="jumbotron">
    <h1>Login</h1>

    <h3 style="color:red">
      <% if (message) { %>
        <%= message %><br>
      <% } %>
    </h3>
  </div>

<!--
<table>
<form method="POST" action="/login">
  <tr><td>Email:</td><td><input type="text" name="email"></td></tr>
  <tr><td>Password:</td><td><input type="password" name="password"></td></tr>
  <tr><td></td><td><input type="submit" name="submit" value="Login"></td></tr>
</form>
</table>
-->



<form class="form-inline" method="POST" action="/login">
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="aaa@exapmle.com">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="aaa">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

</main>

<footer>
  <% include ./partials/footer %>
</footer>
    
<
</body>
</html>
