<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <% include ./partials/head %>
  </head>
<body>

<main>
  <div class="jumbotron">
    <h1>Sign In</h1>

    <h3 style="color:red">
      <% if (message) { %>
        <%= message %><br>
      <% } %>
    </h3>
  </div>


<form class="form-inline" method="POST" action="/signin">
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="aaa@exapmle.com">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="aaa">
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>

</main>

<footer>
  <% include ./partials/footer %>
</footer>
    
</body>
</html>
