<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <% include ./partials/head %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
</head>
<body class="container" ng-controller="todoCtrl">
    <header>
        <% include ./partials/header %>
    </header>


    <main>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="javascripts/core.js"></script>

<!--
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
        <script src="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"></script>
-->
        <script src="//code.jquery.com/jquery-1.12.3.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>


        <div class="jumbotron">
            <h1>ToDos</h1>
            <p>Action! and Reaction!!</p>
        </div>

<div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">Add new todo!</h3>
</div>
<div class="panel-body">
<form method="POST" action="/api/todos">
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" id="inputTitle" name="todoTitle" aria-describedby="emailHelp" required placeholder="Go supermarket" />
    <small id="textlHelp" class="form-text text-muted">simple and fun!</small>
  </div>
  <div class="form-group">
    <label for="inputTextarea">Detail</label>
    <textarea class="form-control" id="inputTextarea" name="todoDetail" rows="3" required></textarea>
  </div>
  <div class="form-group">
    <label for="selectCategory">choose Category</label>
    <select class="form-control" id="selectCategory" name="todoCategory">
      <option value=0 selected="selected">Work</option>
      <option value=1>Private</option>
      <option value=2>Others</option>
    </select>
  </div>

<label for="inputeDueDate">Due Date</label>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="todoDueDate" value="2099-12-31" required>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>






          <section class="tabbable" ng-init="tab = 0">
          <ul class="nav nav-tabs" role="tablist">
            <li><a href ng-click="displayStatus = 0" data-toggle="tab">In Progress</a></li>
            <li><a href ng-click="displayStatus = 1" data-toggle="tab">Done</a></li>
            <li><a href ng-click="displayStatus = 99" data-toggle="tab">All</a></li>
          </ul>
          <!--
          <div class="tab-content">
            <div id="descrp" class="tab-pane" ng-show="tab === 1">
              <h4>Description</h4>
              <p>{{ product.description }}</p>
            </div>
          -->

<!--
        <div class="">
            <label for="selectCategory">choose Category</label>
            <select class="form-control" id="sort" name="" ng-model="sortColumn">
            <option value="createDate" selected="selected">createDate</option>
            <option value="dueDate"</option>
            </select>
        </div>
-->


        <table class="table">
          <tr>
           <th>id</th><th>Category</th><th>Title</th><th>Status</th><th>Detail</th><th>Due Date</th><th>Create Date</th>
          </tr>
          <tr ng-repeat="todo in todos">
            <td>{{todo._id}}</td>
            <td>
              <span ng-if="todo.category==0">Work</span>
              <span ng-if="todo.category==1">Private</span>
              <span ng-if="todo.category==2">Others</span>
            </td>

            <td>{{todo.title}}</td>
            <td>{{todo.status}}</td>
            <td>{{todo.detail}}</td>
            <td>{{todo.dueDate | date:'yyyy-MM-dd'}}</td>
            <td>{{todo.createDate | date:'yyyy-MM-dd'}}</td>
            <td>
              <span ng-show="todo.status==0">
                <form ng-submit="updateDone(todo)">
                  <button type="submit" value="submit">Done</button>
                </form>
              </span>
              <span ng-show="todo.status==1">
                <form ng-submit="updateUndone(todo)">
                  <button type="submit" value="submit">Undone</button>
                </form>
              </span>
            </td>
            <td>
              <span>
                <form ng-submit="deleteTodo(todo)">
                  <button type="submit" value="submit">Delete</button>
                </form>
              </span>

            </td>
          </tr>
        </table>



        DataTable Test is below.

        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
                <td>2012/12/02</td>
                <td>$372,000</td>
            </tr>
            <tr>
                <td>Herrod Chandler</td>
                <td>Sales Assistant</td>
                <td>San Francisco</td>
                <td>59</td>
                <td>2012/08/06</td>
                <td>$137,500</td>
            </tr>
            <tr>
                <td>Rhona Davidson</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>2010/10/14</td>
                <td>$327,900</td>
            </tr>
            <tr>
                <td>Colleen Hurst</td>
                <td>Javascript Developer</td>
                <td>San Francisco</td>
                <td>39</td>
                <td>2009/09/15</td>
                <td>$205,500</td>
            </tr>
            <tr>
                <td>Sonya Frost</td>
                <td>Software Engineer</td>
                <td>Edinburgh</td>
                <td>23</td>
                <td>2008/12/13</td>
                <td>$103,600</td>
            </tr>
            <tr>
                <td>Jena Gaines</td>
                <td>Office Manager</td>
                <td>London</td>
                <td>30</td>
                <td>2008/12/19</td>
                <td>$90,560</td>
            </tr>
            <tr>
                <td>Quinn Flynn</td>
                <td>Support Lead</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2013/03/03</td>
                <td>$342,000</td>
            </tr>
            <tr>
                <td>Charde Marshall</td>
                <td>Regional Director</td>
                <td>San Francisco</td>
                <td>36</td>
                <td>2008/10/16</td>
                <td>$470,600</td>
            </tr>
            <tr>
                <td>Haley Kennedy</td>
                <td>Senior Marketing Designer</td>
                <td>London</td>
                <td>43</td>
                <td>2012/12/18</td>
                <td>$313,500</td>
            </tr>
            <tr>
                <td>Tatyana Fitzpatrick</td>
                <td>Regional Director</td>
                <td>London</td>
                <td>19</td>
                <td>2010/03/17</td>
                <td>$385,750</td>
            </tr>
            <tr>
                <td>Michael Silva</td>
                <td>Marketing Designer</td>
                <td>London</td>
                <td>66</td>
                <td>2012/11/27</td>
                <td>$198,500</td>
            </tr>
            <tr>
                <td>Paul Byrd</td>
                <td>Chief Financial Officer (CFO)</td>
                <td>New York</td>
                <td>64</td>
                <td>2010/06/09</td>
                <td>$725,000</td>
            </tr>
          </tbody>
        </table>

    </main>

    <footer>
       <% include ./partials/footer %>
    </footer>
    
</body>
</html>





