<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <script src='partials/head.ejs'></script>
    <script src='public/partials/head.ejs'></script>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Users</h1>
            <p>Let me introduce about my users</p>
        </div>

        <table class="table">
          <tr>
            <th>ID</th><th>Name</th><th>Action</th>
          </tr>
          <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>Woo!</td>
          </tr>
        </table>


    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>





